<div class="container-fluid">
    <div class="container">
        <h2 class="h5 mb-5 text-center">Productos disponibles</h2>
        <div class="row">
            <div class="col-lg-3">
                <app-exclusive-card [nombre]="'Motocicleta a100-1'" [precio]="'$1999.99'" [img]="'assets/moto01.png'"></app-exclusive-card>
            </div>
            <div class="col-lg-3">
                <app-exclusive-card [nombre]="'Motocicleta b100-1'" [precio]="'$1299.99'" [img]="'assets/moto02.png'"></app-exclusive-card>
            </div>
            <div class="col-lg-3">
                <app-exclusive-card [nombre]="'Motocicleta c100-1'" [precio]="'$1799.99'" [img]="'assets/moto03.png'"></app-exclusive-card>
            </div>
            <div class="col-lg-3">
                <app-exclusive-card [nombre]="'Motocicleta d100-1'" [precio]="'$2599.99'" [img]="'assets/moto04.png'"></app-exclusive-card>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <app-card [nombre]="'Motocicleta a200-1'" [precio]="'$999.99'" [img]="'assets/moto05.png'"></app-card>
            </div>
            <div class="col-lg-3">
                <app-card [nombre]="'Motocicleta b200-1'" [precio]="'$899.99'" [img]="'assets/moto06.png'"></app-card>
            </div>
            <div class="col-lg-3">
                <app-card [nombre]="'Motocicleta c200-1'" [precio]="'$999.99'" [img]="'assets/moto07.png'"></app-card>
            </div>
            <div class="col-lg-3">
                <app-card [nombre]="'Motocicleta d200-1'" [precio]="'$799.99'" [img]="'assets/moto08.png'"></app-card>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <app-card [nombre]="'Motocicleta a300-1'" [precio]="'$999.99'" [img]="'assets/moto09.png'"></app-card>
            </div>
            <div class="col-lg-3">
                <app-card [nombre]="'Casco c99-0'" [precio]="'$199.99'" [img]="'assets/moto10.png'"></app-card>
            </div>
            <div class="col-lg-3">
                <app-card [nombre]="'Casco c99-10'" [precio]="'$99.99'" [img]="'assets/moto11.png'"></app-card>
            </div>
            <div class="col-lg-3">
                <app-card [nombre]="'Casco c99-110'" [precio]="'$79.99'" [img]="'assets/moto12.png'"></app-card>
            </div>
        </div>

        
    </div>
</div>





