<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<img style="width: 100%" src="assets/img01.png" >
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="container bootstrap snippets bootdey">
    <div class="col-md-12">
        <br><br>
        <h2 class="text-primary"> 
            <i class="fa fa-tachometer"></i>
            Productos Exclusivos
        </h2>
        <hr>
        <div class="row">  
            <div class="col-md-3">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <img style="height: 250px; border-radius: 15px;" src="assets/moto01.png" alt="">
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">&nbsp;</p>
                                <p class="announcement-text">Motocicleta a100-1</p>
                            </div>
                        </div>
                    </div>
                    <a href="motos">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6" >Ver más productos</div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            
            <div class="col-md-3">
                <div class="panel panel-success ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <img style="height: 250px; border-radius: 15px;" src="assets/moto02.png" alt="">
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">&nbsp;</p>
                                <p class="announcement-text">Motocicleta b100-1</p>
                            </div>
                        </div>
                    </div>
                    <a href="motos">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">Ver más productos</div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="panel panel-warning ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <img style="height: 250px; border-radius: 15px;" src="assets/moto03.png" alt="">
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">&nbsp;</p>
                                <p class="announcement-text">Motocicleta c100-1</p>
                            </div>
                        </div>
                    </div>
                    <a href="motos">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">Ver más productos</div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="panel panel-danger ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <img style="height: 250px; border-radius: 15px;" src="assets/moto04.png" alt="">
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">&nbsp;</p>
                                <p class="announcement-text">Motocicleta d100-1</p>
                            </div>
                        </div>
                    </div>
                    <a href="motos">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">Ver más productos</div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            </div>
        </div>
    </div>
    <div class="col-md-12">     
      <div class="container bootstrap snippets bootdey">     
        <footer class="footer">
            <hr/>
            <p>&copy; UCB rider 2022</p>
        </footer>
      </div>
    </div>
</div>